.campaign_wrap table tbody td {
    padding: 15px 10px;
}

.campaign_modal .custom_date_picker .rmdp-input {
    padding: 11px 15px;
    outline: none;
    border: 1px solid #6f6b7d;
    font-size:16px;
    font-family: var(--family);
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 5px;
    height: auto;
    width: 100%;
    margin: 0;
}

.campaign_modal .custom_date_picker .rmdp-input::placeholder {
    color: #5d596c;
}

.campaign_modal .custom_date_picker .rmdp-header {
    font-family: var(--family);
    font-weight: 400;
}

.campaign_modal .custom_date_picker .rmdp-header button i {
    border: solid var(--primary-color); 
    border-width: 0 2px 2px 0;
}

.campaign_modal .custom_date_picker .rmdp-day-picker {
    font-family: var(--family);
    font-weight: 400;
}

.campaign_modal .custom_date_picker .rmdp-day-picker .rmdp-week-day {
    color: var(--primary-color);
}
.campaign_modal .custom_date_picker .rmdp-day-picker .rmdp-week .rmdp-today span {
    background-color: #45b369;
}

.campaign_modal .custom_date_picker .rmdp-day-picker .rmdp-week .rmdp-range {
    background-color: #45b369;
    border-radius: 50px;
}

.campaign_modal .custom_date_picker .rmdp-day-picker .rmdp-week .rmdp-day span:hover {
    background: #45b369;
}


.field_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.field_wrap .field_cover {
    background: #fff;
    border-radius: 10px;
}

.field_card_header {
    padding: 20px 30px;
    border-bottom: 1px solid #cdcdcd;
    display: flex;
    align-items: center;
    gap: 35px;
}

.field_card_header h3 {
    color: #1C252E;
    font-family: var(--family);
    font-weight: 500;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.field_card_header span {
    color: #1C252E;
    font-family: var(--family);
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}

.check_cover input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check_cover input[type="checkbox"]:disabled{
    cursor: no-drop;
}

.check_cover input[type="checkbox"]:checked {
    box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.field_cover ul {
    padding: 20px 30px;
}

.field_cover ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.field_cover ul li input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.field_cover ul li input[type="checkbox"]:checked {
    box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.field_cover.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.field_cover ul li span {
    color: #1C252E;
    font-family: var(--family);
    font-weight: 400;
    font-size: 16px;
}

.camD_btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.camD_btn .btn1, 
.camD_btn .btn2{
    background-color: var(--primary-color);
    box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.4);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    border: 0;
}

.camD_btn .btn2[disabled] {
    background: var(--primary-color);
    opacity: 0.4;
    cursor: not-allowed;
}

.camD_btn_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.camD_btn .camD_btn_wrap button {
    background-color: var(--primary-color);
    box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.4);
    border-radius: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camD_btn .camD_btn_wrap button svg {
    color: #fff;
    font-size: 30px;
}

.camD_btn .camD_btn_wrap button[disabled] {
    cursor: no-drop;
    opacity: 0.6;
}


.field_cover ul li input[type="text"] {
    outline: none;
    border: 1px solid var(--primary-color);
    padding: 5px 15px;
    font-family: var(--family);
    font-size: 16px;
    font-weight: 400;
}

.permission_item {
    margin-bottom: 5px;
}

.permission_item label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.permission_item label input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.permission_item label input[type="checkbox"]:checked {
    box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.permission_item label span {
    color: #1C252E;
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
}